.main-section {
  /*Layout*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.9375rem;

  /*Size*/
  padding: 5rem;
}

.main-section .main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

.main-section .main-title h1 {
  color: var(----color-gray-light, #f5f5f5);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.main-section .main-title h3 {
  color: #fff;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.form-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 3.75rem;
}

.form-section h2 {
  /*Font*/
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 66.667% */
  /*Size*/
  padding: 2.5rem 0;
  /*Style*/
  border-bottom: 3px solid #262626;
  border-top: 3px solid #262626;
}

/*Estilos del formulario*/
.save-form {
  /*Layout*/
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  /*Size*/
  width: 100%;
}

.save-form .button-container {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

.save-form .button-container .button {
  border-radius: 0.625rem;
}

.save-form .button-container .button:hover {
  border-radius: 0.625rem;
  border: 3px solid var(--Blue, #2271d1);
  background: transparent;
  box-shadow: none;
}

/*Tablet 900px a 800px*/
@media (max-width: 900px) {
  .main-section .main-title {
    gap: 0.05rem;
  }
  .main-section .main-title h1 {
    font-size: 2.55rem;
  }
  .main-section .main-title h3 {
    font-size: 1rem;
  }
  .form-section {
    gap: 1.75rem;
  }
  .form-section h2 {
    font-size: 1.75rem;
    padding: 1.5rem 0;
  }
}

/*Movil 799px a 0px*/
@media (max-width: 799px) {
  .main-section {
    /*Layout*/
    gap: 1rem;
    padding: 2rem;
  }
  .main-section .main-title h1 {
    font-size: 1.8rem;
  }
  .main-section .main-title h3 {
    font-size: 0.8rem;
  }
  .form-section {
    gap: 1rem;
  }
  .form-section h2 {
    font-size: 1.2rem;
    padding: 1rem 0;
  }
}
