.header-container {
  /*Styles*/
  border-bottom: 4px solid var(--variable-collection-blue, #2271d1);
  background: var(--variable-collection-dark-grey, #262626);
  box-shadow: 0px 5px 29px 0px rgba(34, 113, 209, 0.7);

  /*Layouts*/
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 2rem 1rem;
  position: relative; /*Es necesario declararla para el uso de z-index*/
  z-index: 2; /*Posición con respecto al resto de elementos*/
}

/*Image*/
.logo-img {
  width: 15.625rem;
  height: 3.75rem;
}

/*Buttons*/
.buttons-container-nav {
  display: flex;
  gap: 20px;
}

/*Tablet 900px a 800px*/
@media (max-width: 900px) {
  .header-container {
    padding: 1rem;
  }
  .logo-img {
    width: 11rem;
    height: 2rem;
  }
  .header-container button {
    width: 8.25rem; /* 180px */
    height: 2.375rem; /* 54px */
    font-size: 0.825rem; /* 18px */
  }
}

/*Movil 799px a 0px*/
@media (max-width: 799px) {
  .header-container{
    display: none;
  }
}
