.card-container {
  width: 26.875rem;
  height: 19.99063rem;
  box-sizing: border-box;
}
.image-container img{
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border: none !important;
}
